.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar__logo a {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navbar__menu a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar__menu a:hover {
  text-decoration: underline;
}
